beautifulsoup4==4.12.2
blinker==1.8.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.7
et-xmlfile==1.1.0
filelock==3.12.2
Flask==3.0.3
gdown==4.7.1
idna==3.3
importlib_metadata==8.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.25.0
openpyxl==3.1.2
pandas==2.0.3
PySocks==1.7.1
python-dateutil==2.8.2
pytube==15.0.0
pytz==2023.3
requests==2.27.1
six==1.16.0
soupsieve==2.4.1
tqdm==4.62.3
tzdata==2023.3
urllib3==1.26.8
Werkzeug==3.0.3
zipp==3.19.2
